<section>
  <div class="container">
    <h1 class="text-center mt-5 mb-lg-5 text-uppercase" style="color: #123466">Form Module Binding Component</h1>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header bg-primary text-white">
            <p class="h4">Show Password</p>
          </div>
          <div class="card-body">
            <input
              placeholder="password"
              class="form-control"
              [type]="inputType"
              name="password"
            />
            <br>
            <input (change)="updateInputType($event)" type="checkbox" class="form-check-input"> Show Password
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
