<p class="h4 p-3 rounded-3 text-white bg-danger" *ngIf="errorMessage">{{ errorMessage }}</p>

<table class="table table-hover text-center table-striped" *ngIf="contacts.length > 0 && !errorMessage">
  <thead class="bg-info">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Username</th>
    <th>Email</th>
    <th>Website</th>
    <th>Company</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let contact of contacts" (click)="selectContact(contact)">
    <td>{{ contact.id }}</td>
    <td>{{ contact.name }}</td>
    <td>{{ contact.username }}</td>
    <td>{{ contact.email }}</td>
    <td>{{ contact.website }}</td>
    <td>{{ contact.company.name }}</td>
  </tr>
  </tbody>
</table>
