<nav class="navbar navbar-dark bg-secondary text-black navbar-expand-sm" style="background-color: #123466 !important;">
    <div class="container">
        <a class="navbar-brand" href="#"><i class="fa-brands fa-cc-amazon-pay fa-2x"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav  text-black  me-auto my-3 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/countries">Countries</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/about">About</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-danger" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>


<!--Componet Body -->
<app-contact-app></app-contact-app>
<hr>
<hr>
<hr>
<app-user-list></app-user-list>
<hr>
<app-pipes></app-pipes>
<hr>
<app-user-register></app-user-register>
<hr>
<app-amount-range></app-amount-range>
<hr>
<app-show-password></app-show-password>
<hr>
<app-sms-app></app-sms-app>
<hr>
<app-change-username></app-change-username>
<hr>
<app-shoping-card></app-shoping-card>
<hr>
<app-product-item></app-product-item>
<hr>
<app-wish-message></app-wish-message>
<hr>
<app-counter></app-counter>
<hr>
<app-new-card></app-new-card>
<hr>
<app-card></app-card>