<h1 class="text-center mt-5 mb-lg-5 text-uppercase" style="color: #123466">Card  Component</h1>
<div class="container">
  <div class="row justify-content-between align-content-center align-items-center">
    <div class="card shadow-lg  mb-lg-5 text-bg-primary mb-3" style="max-width: 18rem;">
      <div class="card-header"><i class="fa-brands fa-amazon"></i> Header</div>
      <div class="card-body">
        <h5 class="card-title">Primary card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card shadow-lg  mb-lg-5 text-bg-secondary mb-3" style="max-width: 18rem;">
      <div class="card-header"><i class="fa-brands fa-amazon"></i> Header</div>
      <div class="card-body">
        <h5 class="card-title">Secondary card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card shadow-lg  mb-lg-5 text-bg-success mb-3" style="max-width: 18rem;">
      <div class="card-header"><i class="fa-brands fa-amazon"></i> Header</div>
      <div class="card-body">
        <h5 class="card-title">Success card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card shadow-lg  mb-lg-5 text-bg-danger mb-3" style="max-width: 18rem;">
      <div class="card-header"><i class="fa-brands fa-amazon"></i> Header</div>
      <div class="card-body">
        <h5 class="card-title">Danger card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card shadow-lg  mb-lg-5 text-bg-warning mb-3" style="max-width: 18rem;">
      <div class="card-header"><i class="fa-brands fa-amazon"></i> Header</div>
      <div class="card-body">
        <h5 class="card-title">Warning card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card shadow-lg  mb-lg-5 text-bg-info mb-3" style="max-width: 18rem;">
      <div class="card-header"><i class="fa-brands fa-amazon"></i> Header</div>
      <div class="card-body">
        <h5 class="card-title">Info card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card shadow-lg  mb-lg-5 text-bg-light mb-3" style="max-width: 18rem;">
      <div class="card-header"><i class="fa-brands fa-amazon"></i> Header</div>
      <div class="card-body">
        <h5 class="card-title">Light card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card shadow-lg  mb-lg-5 text-bg-dark mb-3" style="max-width: 18rem;">
      <div class="card-header"><i class="fa-brands fa-amazon"></i> Header</div>
      <div class="card-body">
        <h5 class="card-title">Dark card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
</div>
