<section>
  <div class="container">
    <h1 class="text-center mt-5 mb-lg-5 text-uppercase" style="color: #123466">Card Property Binding Component</h1>
    <div class="row">
      <div class="col-md-3">
        <div class="card mb-5 shadow-lg">
          <img [src]="tourImage4" class="mw-100">
          <div class="card-body">
            <p class="h3">{{ tourName.toUpperCase() }}</p>
            <p>{{ getDate() }}</p>
            <p><span class="h3">{{ time }}</span></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, alias iusto laborum laudantium minus non obcaecati odit tempore vel voluptatibus!</p>
            <p class="btn btn-outline-primary">Read More</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card mb-5 shadow-lg">
          <img [src]="tourImage2" class="mw-100">
          <div class="card-body">
            <p class="h3">{{ tourName.toUpperCase() }}</p>
            <p>{{ getDate() }}</p>
            <p><span class="h3">{{ time }}</span></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, alias iusto laborum laudantium minus non obcaecati odit tempore vel voluptatibus!</p>
            <p class="btn btn-outline-primary">Read More</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card mb-5 shadow-lg">
          <img [src]="tourImage3" class="mw-100">
          <div class="card-body">
            <p class="h3">{{ tourName.toUpperCase() }}</p>
            <p>{{ getDate() }}</p>
            <p><span class="h3">{{ time }}</span></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, alias iusto laborum laudantium minus non obcaecati odit tempore vel voluptatibus!</p>
            <p class="btn btn-outline-primary">Read More</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card mb-5 shadow-lg">
          <img [src]="tourImage1" class="mw-100">
          <div class="card-body">
            <p class="h3">{{ tourName.toUpperCase() }}</p>
            <p>{{ getDate() }}</p>
            <p><span class="h3">{{ time }}</span></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, alias iusto laborum laudantium minus non obcaecati odit tempore vel voluptatibus!</p>
            <p class="btn btn-outline-primary">Read More</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
